<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/media.css">
</head>
<body>
    <div class="wrapper">
        <header class="header" id="header">
            <div class="header__text">
                <h1 class="header__title">DAS KISSEN</h1>
            </div>
            <nav class="header__nav">
                <ul class="header__list">
                    <li class="header__item">
                        <a href="" class="header__link">
                            <img src="images/Group 38.png" alt="">
                        </a>
                    </li>
                    <li class="header__item">
                        <a href="" class="header__link">
                            <img src="images/Mask Group.png" alt="">
                        </a>
                    </li>
                    <li class="header__item">
                        <a href="" class="header__link">
                            <img src="images/Mask Group(1).png" alt="">
                        </a>
                    </li>
                    <li class="header__item">
                        <a href="" class="header__link">
                            <img src="images/Mask Group(2).png" alt="">
                        </a>
                    </li>
                    <li class="header__item">
                        <a href="" class="header__link">
                            <img src="images/Mask Group(3).png" alt="">
                        </a>
                    </li>
                    <li class="header__item">
                        <a href="" class="header__link">
                            <img src="images/Mask Group(4).png" alt="">
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        <main class="main" id="main">
            <section class="section__content">
                <div class="section__image_1"></div>
                <div class="section__text">
                    <h2 class="section__title">Warum ein neues Kopfkissen?</h2>
                    <p class="section__descr">Himmlisch ausgeruht aufwachen. 100% fit in den neuen Tag starten. Dynamisch, belastbar, erfolgreich agieren. Schneller lernen, über bessere Konzentration verfügen. Belastung einfacher wegstecken. Gesünder leben, unbeschwerter das Leben meistern. Entspannt schlafen, ohne Schmerzen. Flexibel und beweglich aufwachen, Folgeschäden vermeiden. Und Sonntag morgens auch einfach mal richtig herrlich an die neuen Kissen lehnen, Frühstück im Bett genießen und bei einem Film entspannen oder in einem Buch schmökern.</p>
                </div>
            </section>
            <section class="section__content">
                <div class="section__text">
                    <h2 class="section__title">Dein Kissen ist zu alt – mach' JETZT sauber</h2>
                    <p class="section__descr">Dein Kissen ist zu alt – zumindest statistisch gesehen, denn nur alle 7 Jahre kauft jeder Mensch ein neues Kopfkissen. 4 Jahre über dem empfohlenen Tauschdatum haben sich Milben in Deinem Kissen gesammelt. Bakterien belasten Dein Immunsystem auch im Schlaf. Ein neues, angenehm festes, und dennoch gerade richtig sanftes Kopfkissen sorgt bei angenehmer, erholsamer und trockener Wärme für genau die richtige Stützung des Nackens und für unbeschwerten Schlaf. Somit schafft DAS KISSEN von WELTBETT® ideale Voraussetzungen und die Basis für einen gesunden Schlaf.</p>
                </div>
                <img src="images/content-pillow-2 1.png" alt="Image" class="section__image section__image_2">
            </section>
            <section class="section__content">
                <img src="images/image 24.png" alt="Image" class="section__image section__image_3">
                <div class="section__text">
                    <h2 class="section__title">KISSEN ZUM RELAXEN UND SCHLAFEN</h2>
                    <p class="section__descr">Fantastische Kopfkissen sind das Aushängeschild der Luxushotels. DAS KISSEN von WELTBETT® hat direkten Einfluss auf Deine Atemwege und das die ganze Nacht lang. Unsere Luxus-Hotel-Kopfkissen erfüllen zwei Funktionen: Das 80x80cm Kissen zum Anlehnen, Relaxen und Loungen in Deinem Bett, beim Frühstück oder Kaffee, beim Lesen, beim Fernsehen oder iPad Browsen. Und das passende 40x80cm Kissen als Nackenstützkissen zum Schlafen und Träumen. Beide Größen verfügbar in normal-weich oder in extra-praller Ausführung, sowie mit Federkern oder in federfreier Ausführung.</p>
                </div>
            </section>
        </main>
        <footer class="footer" id="footer">
            <ul class="footer__list">
                <li class="footer__item">
                    <img class="footer__image" src="images/Group 22.png" alt="">
                    <h3 class="footer__title">VEGAN</h3>
                    <p class="footer__descr">Wir steigern unseren Anteil veganer Produkte, in unseren Internet-Shops bereits über 50% veganer Umsatz. Wir nutzen plastikfreie Alternativen und arbeiten an „Closed Loop“ Recycling und Wiederverwendung. </p>
                </li>
                <li class="footer__item">
                    <img class="footer__image" src="images/Group 26.png" alt="">
                    <h3 class="footer__title">MADE IN GERMANY</h3>
                    <p class="footer__descr">Mehr als 85% unserer Produktion erfolgt unverändert per Handarbeit in Deutschland. Wo andere in Zeiten globaler Logistik-Engpässe Probleme haben, können wir weiterhin liefern. In unserer üblichen, hohen Qualität MADE IN GERMANY.</p>
                </li>
                <li class="footer__item">
                    <img class="footer__image" src="images/Frame 8.png" alt="">
                    <h3 class="footer__title">CLOSE THE LOOP</h3>
                    <p class="footer__descr">Wir bieten an, die so gekennzeichneten Produkte bei Deinem Anschlusskauf am Ende des Produktlebens kostenfrei abzuholen und alle Materialien sinnvoll wieder zu verwenden - und nicht zu verbrennen, wie es bei anderen Anbietern üblich ist.</p>
                </li>
            </ul>
        </footer>
    </div>
</body>
</html>