<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Генерация QR кода</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <h1>Генератор QR-кодов</h1>
            <p>Вставьте URL-адрес или введите текст, чтобы создать QR-код</p>
        </header>
        <form class="form">
            <input type="text" spellcheck="false" placeholder="Введите текст или URL">
            <button type="submit">Сгенерировать QR-код</button>
        </form>
        <div class="qr-code">
            <img src="" alt="qr-code">
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>