<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iphone</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/media.css">
    <link type="image/x-icon" href="./img/Grouplogo.ico" rel="shortcut icon">

</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header__nav">
                <button class="burger" aria-label="Скрытое меню">
                    <span class="burger__line"></span>
                    <span class="burger__line"></span>
                    <span class="burger__line"></span>
                </button>
                <nav class="nav">
                    <ul class="header__nav-left-item">
                        <li class="header__nav-left-items" aria-label="Что нового"><a href="#about"
                                class="header__nav-left-items-link">Что нового</a></li>
                        <li class="header__nav-left-items" aria-label="Цвета"><a href="#color"
                                class="header__nav-left-items-link">Цвет</a></li>
                        <li class="header__nav-left-items" aria-label="Заказать"><a href="#order"
                                class="header__nav-left-items-link">Заказать</a></li>
                    </ul>
                </nav>
                <script src="./css/index.js"></script>

                <div class="header__nav-center">
                    <a href="#" class="header__nav-center-logotipe">
                        <img src="./img/Grouplogo.svg" alt="Логотип" class="header__nav-center-logo">
                    </a>
                </div>
                <div class="header__nav-right">
                    <a href="tel:+380504565656" class="header__nav-right-link">+38 050-456-56-56</a>
                </div>

            </div>
        </div>
    </header>

    <main>

        <section class="choose">
            <div class="container">
                <h1 class="choose__title">IPHONE 14 PRO</h1>
                <div class="choose__main">
                    <img class="choose__main-img"
                        src="./img/iphone_14_pro_finish_unselect_gallery_1_202209_GEO_US_removebgiphone.svg">
                    <button class="choose__main-button" aria-label="Выбрать">Выбрать</button>
                </div>

            </div>
        </section>

        <section id="about" class="about">
            <div class="container">
                <h2 class="about__title">ЧТО НОВОГО</h2>
                <div class="about__main">
                    <div class="about__main-text">
                        <p class="about__main-text-small">Все модели оснащены однокристальной системой A16&nbsp;Bionic,
                            48-мегапиксельной основной камерой и&nbsp;экранами ProMotion с&nbsp;защитой Ceramic Shield
                            и&nbsp;частотным диапазоном 1&nbsp;&mdash; 120&nbsp;Гц, а&nbsp;также ускоренной памятью
                            LPDDR5. Дизайн линейки обновлен, на&nbsp;фронтальной панели смартфонов два выреза.</p>
                        <p class="about__main-text-small">Все iPhone 14&nbsp;в США будут продаваться без лотка для
                            SIM-карт: производитель заявляет, что улучшенная технология eSIM позволит перенести старые
                            электронные сим-карты на&nbsp;новые смартфоны.</p>
                        <p class="about__main-text-small">Обновлены фронтальная камера (она снабжена автофокусом
                            и&nbsp;быстрее распознает пользователя в&nbsp;условиях недостаточной освещенности)
                            и&nbsp;сенсор основной камеры.</p>
                        <p class="about__main-text-big">iPhone 14&nbsp;Pro вышел в&nbsp;новом дизайне&nbsp;&mdash; без
                            фирменной &laquo;челки&raquo;. Также в&nbsp;ассортименте появился новый цвет.
                            В&nbsp;смартфоне, в&nbsp;отличие от&nbsp;&laquo;обычных&raquo; 14-х айфонов, установлен
                            процессор A16&nbsp;Bionic, который может за&nbsp;секунду производить 4&nbsp;трлн операций
                            с&nbsp;фото.</p>
                    </div>
                    <div class="about__main-img">
                        <img class="about__main-img-little" src="./img/phone14.jpg">
                    </div>

                </div>

            </div>
        </section>

        <section id="color" class="color">
            <div class="container">
                <h2 class="color__title">ВЫБЕРИ СВОЙ ЦВЕТ</h2>
                <ul class="color__item">
                    <li class="color__items" aria-label="Телефон Серебристый">
                        <img class="color__items-img" src="./img/silver 1.jpg">
                        <h3 class="color__items-title">Silver</h3>
                        <p class="color__items-text">Серебристый</p>
                    </li>
                    <li class="color__items" aria-label="Телефон Фиолетовый">
                        <img class="color__items-img" src="./img/purple.jpg">
                        <h3 class="color__items-title">Deep purple</h3>
                        <p class="color__items-text">Темно-фиолетовый</p>
                    </li>
                    <li class="color__items" aria-label="Телефон Золотой">
                        <img class="color__items-img" src="./img/голд.jpg">
                        <h3 class="color__items-title">Gold</h3>
                        <p class="color__items-text">Золотой</p>
                    </li>
                    <li class="color__items" aria-label="Черный">
                        <img class="color__items-img" src="./img/black.jpg">
                        <h3 class="color__items-title">Space Black</h3>
                        <p class="color__items-text">Космический черный</p>
                    </li>
                </ul>

            </div>
        </section>


        <section class="order" id="order">
            <div class="container">
                <div class="order__main">
                    <div class="order__main-left">
                        <h2 class="order__title">ХОЧЕШЬ IPHONE 14 PRO?</h2>
                        <form class="order__form" id="order-form">
                            <input class="order__form-input" type="text" maxlength="20" minlength="2" required
                                name="ФИО" placeholder="Ваше имя">
                            <input class="order__form-input-tel" type="tel" required name="tel"
                                data-validate-field="tel" placeholder="Номер телефона">
                            <p class="order__form-text">В ближайшее время наш менеджер свяжется с Вами</p>
                            <button class="order__form-button" aria-label="Заказать">ЗАКАЗАТЬ</button>
                        </form>
                    </div>
                    <div class="order__main-right">
                        <img class="order__main-right-image" src="./img/hero_endframe__cvklg0xk3w6e_large 1.jpg">
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="container">
            <div class="footer__main">
                <a href="#" class="footer__main-link">Политика конфиденциальности</a>

                <a href="#" class="footer__main-logotipe">
                    <img src="./img/Grouplogo.svg" alt="Логотип" class="footer__main-logo">
                </a>

                <a href="tel:+380504565656" class="footer__main-link-tel">+38 050-456-56-56</a>
            </div>
        </div>
    </footer>

</body>

</html>